<!-- <p>servicios works!</p> -->

<div class="conatiner mt-5">
    <div class="row border-bottom border-info">
        <h2 class="text-center">SERVICIOS</h2>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <div class="">
                <h2>COMUNIDAD ANGULAR</h2>
            </div>
        </div>
        <div class="col">
            <div>
                <ul>
                    <a href="https://angular-builders.dev/home">
                        <li>ANGULAR BUILDERS</li>
                    </a>
                    <a href="https://angularcommunity.net/home">
                        <li>ANGULAR COMMUNITY MEETUP</li>
                    </a>
                    <a href="https://indepth.dev/angular">
                        <li>ANGULAR inDepth</li>
                    </a>
                    <a href="https://angular.io/resources?category=community">
                        <li>VER MAS...</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <div class="">
                <h2>EDUCACION</h2>
            </div>
        </div>
        <div class="col">
            <div>
                <ul>
                    <a href="https://leanpub.com/book-angular">
                        <li>ANGULAR FROM SCRATCH</li>
                    </a>
                    <a href="https://leanpub.com/router">
                        <li>ANGULAR ROUTER</li>
                    </a>
                    <a href="https://books.ninja-squad.com/angular">
                        <li>BECOMING A NINJA WITH ANGULAR</li>
                    </a>
                    <a href="https://angular.io/resources?category=education">
                        <li>VER MAS...</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>