<!-- <p>nosotros works!</p> -->

<!-- estructura del componente nosotros -->
<div class="conatiner mt-5">
    <div class="row border-bottom border-info">
        <h2 class="text-center">NOSOTROS</h2>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-lg-6 text-center">
            <div class="https://angular.io/about?group=Angular">
                <h2><a href="">MIEMBROS ANGULAR</a></h2>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div>
                        <h3>ALAN AGIUS</h3>
                    </div>
                    <div>
                        <p>Angular CLI Member, Loves TypeScript, Build Tools, Food, Beer & Coffee :)</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div>
                        <h3>ANDREW KUSHNIR</h3>
                    </div>
                    <div>
                        <p>Andrew is a software engineer at Google on the Angular Core team.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div>
                        <h3>ANDRE SCOTT</h3>
                    </div>
                    <div>
                        <p>Andrew is a software engineer at Google on the Angular Core team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div>
                        <h3>AJIT SINGH</h3>
                    </div>
                    <div>
                        <p>Software Engineer in Bangalore, India who loves to learn something new and is interested in front end technologies</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div>
                        <h3>CEDRIC EXBRAYAT</h3>
                    </div>
                    <div>
                        <p>Author of `Become a ninja with Angular (2+)` https://books.ninja-squad.com/angular - Angular trainer and @Ninja-Squad co-founder</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div>
                        <h3>MANFRED STEYER</h3>
                    </div>
                    <div>
                        <p>Trainer and Consultant with focus on Angular. Writes for O'Reilly, the German Java Magazine and Heise. Regularly speaks at conferences.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="">
                <h2><a href="https://angular.io/about?group=Collaborators">COLABORADORES</a> </h2>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <div class="">
                <h2><a href="https://angular.io/about?group=GDE">GOOGLE DEVELOPER EXPERT</a></h2>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div>
                        <h3>ALAIN CHAUTARD</h3>
                    </div>
                    <div>
                        <p>Alain Chautard is a Google Developer Expert in Web Technologies / Angular. He started working with Angular JS in 2011. Since then he has worked with all Angular versions on a daily basis, both as a developer and as a technical trainer. He is the organizer of the Sacramento Angular Meetup group, co-organizer of the Google Developer Group chapter in Sacramento, California, and published author of the Packt video course 'Getting Started with Angular'</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div>
                        <h3>ALEXANDER INKIN</h3>
                    </div>
                    <div>
                        <p>Alex is a front end dev in love with Angular and declarative approach. He enjoys Web for it's multimedia nature and rich features. Actively creating and contributing to open source ecosystem he also does a lot of tech writing. He is a music and movies fan and a Montessori enthusiast father of two kids.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div>
                        <h3>ALYSSA NICOLL</h3>
                    </div>
                    <div>
                        <p>Alyssa is an Angular Developer Advocate for KUI and a GDE. Her two degrees (Web Design & Development and Psychology) feed her speaking career. She has spoken at over 35 conferences internationally. She is a weekly panelist on Adventures in Angular and Angular Air, which have a combined following of over 16,000 listeners. She enjoys gaming, scuba diving, and has a newborn that fondly goes by 'Mr. Milks'.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>