<!-- <p>inicio works!</p> -->

<!-- Estructura html del componente de inicio -->
<div class="conatiner mt-5">
    <div class="row border-bottom border-info">
        <h2 class="text-center">INICIO</h2>
    </div>
    <div class="row border mt-5">
        <div class="col-12 col-lg-6 border">
            <div class="text-center angular border-bottom border-danger">
                <h4 id="titulo">¿Que es Angular?</h4>
            </div>
            <div class="text-center text-justify mt-5">
                <p id="descripcion">Angular es un framework de ingeniería de software de código abierto mantenido por Google, que sirve para desarrollar aplicaciones web de estilo Single Page Application (SPA) y Progressive Web App (PWA). Sirve tanto para versiones móviles como de escritorio.</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 border">
            <div>
                <img class="img-fluid" src="https://d33wubrfki0l68.cloudfront.net/e7701cec5df7c86a6f7773f56afede3819b8d136/ceb4d/assets/images/notes/angular-intro/que-es-angular.jpg" alt="">
            </div>
        </div>
    </div>
    

</div>